# Cloudflare Administrative Credentials (for zero-tunnel)
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_TUNNEL_ID=

# Cloudflare Connection Token (for cloudflared)
CLOUDFLARE_TUNNEL_TOKEN=

# Zero Tunnel Default Settings
ZERO_TUNNEL_DEFAULT_DOMAIN=
ZERO_TUNNEL_INTERVAL=300s
